@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.login {
  /* margin-top: 60px;
    margin-left: 30%;
    margin-right: 30%; */
}
.card {
  border-radius: 30%, 30%, 30%, 30%;
  background-color: #f39c12;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
}
.button {
  text-align: right;
  margin-top: 5%;
}
.button-cancel {
  margin-right: 5%;
}
    margin-right: 5%;
}
.register{
    margin-top: 10px;
}

