/* * {
    border: black 1px solid;
} */

#comentContainer {
    /* border: 1px solid black; */
    margin: auto;
    width: 750px;
    box-sizing: border-box;
}

.comentBox {
    border: solid black 1px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    margin-bottom: 12px;
    padding: 15px 20px;
    background-color: rgb(190, 153, 84);
    box-shadow: 9px 9px rgb(165, 127, 56);
}

.comentBox .boxImage {
    flex: 1;
}

.comentBox .boxImage img {
    width: 80px;
}

.comentBox .boxMain {
    flex: 8;
}

.comentBox .boxMain .boxProfile h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.comentBox .boxMain .boxProfile p {
    margin: 5px 0 0 0;
}

.comentBox .boxMain .boxText p {
    font-size: 17px;
    margin: 10px 0;
}

#formComent {
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    margin-bottom: 18px;
    padding: 15px 20px;
    background-color: rgba(168, 118, 24, 0.678);
    box-shadow: 9px 9px rgba(97, 69, 16, 0.678);
}

#formComent .formImage {
    flex: 1;
}

#formComent .formImage img {
    width: 80px;
}

#formComent .formInput {
    flex: 8;
    display: flex;
    flex-direction: column;
}

#formComent .formInput textarea {
    width: 100%;
    height: 80px;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;
}

.my-1 {
    width: 100px;
    padding: 8px;
    border-radius: 20px;
}